[Unit]
Description=TG-FILTERING_BOT
After=network.target

[Service]
Type=simple
User=REPLACE_USER
WorkingDirectory=REPLACE_WORKING_DIR
ExecStart=REPLACE_WORKING_DIR/run.sh
Restart=always

[Install]
WantedBy=multi-user.target